#!/usr/bin/env python

import roslib; roslib.load_manifest('smach_tutorials')
import rospy
import smach
import smach_ros

{{ header }}

def main():
    rospy.init_node('{{ node_name }}')
    
    # Create a SMACH state machine
    {{ name | lower() }} = smach.StateMachine(outcomes=[{% for outcome in outcomes %}'{{ outcome }}'{% if not loop.last %}, {% endif %}{% endfor %}])
    
    # Open the container
    with {{ name | lower() }}:
        # Add states to the container
        {{ body | indent(8) }}
    
    # Execute SMACH plan
    outcome = {{ name | lower() }}.execute()
    
    {{ footer | indent(4) }}

if __name__ == '__main__':
    main()
