#!/usr/bin/env python

import roslib; {% if manifest is defined %}roslib.load_manifest('smach_tutorials'){% endif %}
import rospy
import smach
import smach_ros

{% set defined_headers = [] %}

{% block base_header %}
{{ base_header }}
{% endblock base_header %}

def main():
    rospy.init_node('{{ node_name }}')
   
    {% block header %}
    # Create a SMACH state machine
    {{ name | lower() }} = smach.StateMachine(outcomes=[{% for outcome in outcomes %}'{{ outcome }}'{% if not loop.last %}, {% endif %}{% endfor %}])
    {% if userdata is defined %}
    {% for userdatum_key, userdatum_val in userdata.iteritems() | sort %}
    {{ name | lower() }}.userdata.{{ userdatum_key | lower() }} = {{ userdatum_val }}
    {% endfor %}
    {% endif %}
    {% endblock header %}
    
    # Open the container
    with {{ name | lower() }}:
        # Add states to the container
        {%- block body %}
        {{ body | indent(8) }}
        {% endblock body %}
    
    # Execute SMACH plan
    outcome = {{ name | lower() }}.execute()
   
    {% block base_footer %}
    {{ base_footer | indent(4) }}
    {% endblock base_footer %}

if __name__ == '__main__':
    main()
