{% block upper_comments %}
#----------------------------------------------------------------------------------------
# BEGIN: {{ name }}
# TEMPLATE: ReadTransformState
#
{% endblock upper_comments %}
smach.StateMachine.add('{{ name }}', TFListenerState('{{ target_frame }}', '{{ source_frame }}', '{{ transform_output }}'),
                                                                        transitions={'succeeded':'{{ succeeded }}'},
                                                                        remapping={'{{ transform_output }}':'{{ transform_output }}'})
{% block lower_comments %}
# END: {{ name }}
#----------------------------------------------------------------------------------------
{% endblock lower_comments %}
