{% include "State.jinja" %}

{% block base_header %}
{% endblock base_header %}

{% block header %}
{% endblock header %}

{%- block body %}
smach.{{ parent_type }}.add('{{ name }}',
                            smach_ros.ServiceState('{{ service_namespace }}', {{ service }}{% if request is defined %},
                                                       request = {{ request }}{% elif request_slots is defined %},
                                                       request_slots = [{% for request_slot in request_slots %}'{{ request_slot }}'{% if not loop.last %}, {% endif %}{% endfor %}]{% elif request_cb is defined %},
                                                       request_cb = {{ request_cb }}{% if input_keys is defined %},
                                                       input_keys = [{% for input_key in input_keys %}'{{ input_key }}'{% if not loop.last %}, {% endif %}{% endfor %}]{% endif %}{% endif %}{% if response_slots is defined %},
                                                       response_slots = [{% for response_slot in response_slots %}'{{ response_slot }}'{% if not loop.last %}, {% endif %}{% endfor %}]{% elif response_cb is defined %},
                                                       response_cb = {{ response_cb }}{% if output_keys is defined %},
                                                       output_keys = [{% for output_key in output_keys %}'{{ output_key }}'{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}{% endif %}){% if transitions is defined %},
                            transitions={{ '{' }}{% for outcome, transition in transitions.items() | sort %}'{{ outcome }}':'{{ transition }}'{% if not loop.last %},
                                         {% endif %}{% endfor %}{{ '}' }}{% endif %}{% if remapping is defined %},
                            remapping={{ '{' }}{% for state_key, userdata_key in remapping.items() | sort %}'{{ state_key }}':'{{ userdata_key }}'{% if not loop.last %},
                                       {% endif %}{% endfor %}{{ '}' }}{% endif %})
{% endblock body %}

{% block footer %}
{% endblock footer %}

{% block base_footer %}
{% endblock base_footer %}
