{% block header_comments %}
#----------------------------------------------------------------------------------------
# BEGIN: {{ name }}
# TEMPLATE: StateMachine_base_footer
#
{% endblock header_comments %}
{{name | lower() }}_sis.stop()
{% block footer_comments %}
#
# END: {{ name }}
#----------------------------------------------------------------------------------------
{% endblock footer_comments %}
