{% block header_comments %}
#----------------------------------------------------------------------------------------
# BEGIN: {{ name }}
# TEMPLATE: StateMachine
#
{% endblock header_comments %}
{{ name | lower() }} = smach.StateMachine(outcomes=['succeeded', 'aborted', 'preempted'])
      
{{ name | lower() }}_sis = smach_ros.IntrospectionServer('{{ node_name }}', {{ name }}, '{{ sis_topic }}')
{{ name | lower() }}_sis.start()

with {{ name | lower() }}:

    {{ body | indent(4) }}

smach.StateMachine.add('{{ name }}', {{ name | lower() }},
                       transitions={'succeeded':'succeeded'})
{% block footer_comments %}
#
# END: {{ name }}
#----------------------------------------------------------------------------------------
{% endblock footer_comments %}
