{% block header_comments %}
#----------------------------------------------------------------------------------------
# BEGIN: {{ name }}
# TEMPLATE: StateMachine_base_header
#
{% endblock header_comments %}
{% block footer_comments %}
#
# END: {{ name }}
#----------------------------------------------------------------------------------------
{% endblock footer_comments %}
