#----------------------------------------------------------------------------------------
# BEGIN: {{ name }}
# TEMPLATE: CartTrapVelActionState
#
{{ container_name | lower() }}.userdata.{{ name | lower() }}_position_offset = np.asarray({{ position_offset }})
{{ container_name | lower() }}.userdata.{{ name | lower() }}_rotation_offset = np.asarray({{ rotation_offset }})
{{ container_name | lower() }}.userdata.{{ name | lower() }}_desired_velocity = {{ desired_velocity }}

smach.StateMachine.add('{{ name }}',
                       smach_ros.SimpleActionState('/{{ robot }}/cart_trap_vel_action_server', robot_module.msg.CartTrapVelAction,
                                                   goal_cb = cart_trap_vel_goal_cb,
                                                   input_keys=['cart_trap_vel_pose_input',
                                                               'cart_trap_vel_position_offset_input',
                                                               'cart_trap_vel_rotation_offset_input',
                                                               'cart_trap_vel_desired_velocity_input']),
                       transitions={'succeeded':'{{ succeeded }}'},
                       remapping={'cart_trap_vel_pose_input':'{{ pose_input }}',
                                  'cart_trap_vel_position_offset_input':'{{ name | lower() }}_position_offset',
                                  'cart_trap_vel_rotation_offset_input':'{{ name | lower() }}_rotation_offset',
                                  'cart_trap_vel_desired_velocity_input':'{{ name | lower() }}_desired_velocity'})
# END: {{ name }}
#----------------------------------------------------------------------------------------
