#----------------------------------------------------------------------------------------
# BEGIN: {{ name }}
# TEMPLATE: StateMachine
#
{{ name | lower() }} = smach.StateMachine(outcomes=['succeeded', 'aborted', 'preempted'])
      
{{ name | lower() }}_sis = smach_ros.IntrospectionServer('{{ node_name }}', {{ name }}, '{{ sis_topic }}')
{{ name | lower() }}_sis.start()

with {{ name | lower() }}:

  {{ body | indent(2) }}

smach.StateMachine.add('{{ name }}', {{ name | lower() }},
                       transitions={'succeeded':'succeeded'})
#
# END: {{ name }}
#----------------------------------------------------------------------------------------
