#----------------------------------------------------------------------------------------
# BEGIN: {{ state_name }}
# TEMPLATE: ReadTransformState
#
smach.StateMachine.add('{{ state_name }}', TFListenerState('{{ target_frame }}', '{{ source_frame }}', '{{ transform_output }}'),
                                                                        transitions={'succeeded':'{{ succeeded }}'},
                                                                        remapping={'{{ transform_output }}':'{{ transform_output }}'})
# END: {{ state_name }}
#----------------------------------------------------------------------------------------
