#----------------------------------------------------------------------------------------
# BEGIN: {{ name }}
# TEMPLATE: StateMachine_base_footer
#
{{name | lower() }}_sis.stop()
#
# END: {{ name }}
#----------------------------------------------------------------------------------------
